.bg-success {
    background-color: #00c851 !important
}
.bg-warning {
    background-color: #fb3 !important;
}
.bg-danger {
    background-color: #ff3547 !important;
}

/**
This makes the reset button from reference widget in storage samples a bit cleaner
**/
body.template-storage_store_samples .ui-state-default.ui-corner-all.undefined.cg-resetButton {
    border: none;
    background-color: transparent !important;
    padding-bottom: 7px;
    margin-left: 5px;
}
body.template-storage_store_samples div.ArchetypesReferenceWidget input {
    width: 90%;
}

/**
Styling for store container view
**/
body.template-storage_store_container .ui-state-default.ui-corner-all.undefined.cg-resetButton {
    border: none;
    background-color: transparent !important;
    padding-bottom: 7px;
    margin-left: 5px;
}

table.container-layout {
  font-size:0.9em; }

  table.container-layout td div.slot-bottom {
    font-size:0.9em; }

  table.container-layout td.non-empty-slot {
    background-color: #fff; }

    table.container-layout td.non-empty-slot div.sample-id {
      font-weight:bold; }

  table.container-layout td.empty-slot {
    background-color:#efefef; }

    table.container-layout td.empty-slot:hover {
      border: 2px dotted #449d44; }

    table.container-layout td.empty-slot.selected,
    table.container-layout td.empty-slot.selected:hover {
      border: 2px solid #449d44; }

    table.container-layout .empty-slot a div {
      background: url("++resource++senaite.storage.static/img/plus-circle.png") no-repeat #efefef;
      background-position: center;
      background-size: contain; }

